langchain>=0.1.0
langchain-openai>=0.0.5
langchain-community>=0.0.16
faiss-cpu>=1.7.4
python-dotenv>=1.0.0
tiktoken>=0.5.2
langchain-community 
sentence-transformers
langchain-ollama
langchain-google-genai
langgraph
langchain-huggingface